##### Practice Exercise 1: Simple Type Conversion (Casting)

In [1]:
# Create an integer variable num1 and assign it the value 5.
# Create a string variable num2_str and assign it the string value "12".
# Convert the string num2_str into an integer. Store the result in a variable called num2_int.
# Calculate the sum of num1 and num2_int. Store the result in a variable called total_sum.
# Convert the total_sum (which is an integer) into a string. Store the result in a variable called total_sum_str.
# Print the values and types of num1, num2_str, num2_int, total_sum, and total_sum_str.

In [2]:
num1 = 5
num2_str = '12'
num2_int = int(num2_str)

In [3]:
num2_int

12

In [4]:
total_sum = num1 + num2_int

In [5]:
total_sum

17

In [6]:
total_sum_str = str(total_sum)
total_sum_str

'17'

In [7]:
type(num1)

int

In [8]:
type(num2_str)

str

In [9]:
type(num2_int)

int

In [10]:
type(total_sum)

int

In [11]:
type(total_sum_str)

str

##### Assignment 2: Calculate and Format a Complex Result

In [12]:
# perform a calculation involving multiple steps and then present the final result in a specific string format.

# Start with three numbers: num_a = 100, num_b = 15, num_c = 4.
# Calculate step1 = num_a // num_c.
# Calculate step2 = num_b % num_c.
# Calculate step3 = step1 * step2.
# Calculate step4 = pow(num_b, 2).
# Calculate the final result: final_number = step3 - step4 + num_a.
# Convert final_number into a string using str().
# Create a template string: "The calculated value is ###RESULT### based on the numbers.".
# Use the .replace() string method to substitute ###RESULT### in the template string with your calculated final_number (as a string).
# Print the final formatted string.

In [13]:
num_a = 100 
num_b = 15 
num_c = 4

In [14]:
step1 = num_a // num_c # 100 divide by 4 without decimal
step1

25

In [15]:
step2 = num_b % num_c # picking only the remainder of 15 divided by 4
step2

3

In [16]:
step3 = step1 * step2 # 25 multiply by 3
step3

75

In [17]:
step4 = pow(num_b, 2) # 15 multiply by 15
step4

225

In [18]:
pow(15, 2)

225

In [19]:
final_number = step3 - step4 + num_a # 75-225+100
final_number

-50

In [20]:
final_number = str(final_number) # using str()
final_number

'-50'

In [21]:
template_string = "The calculated value is ###RESULT### based on the numbers."

In [22]:
template_string.replace('###RESULT###', final_number)

'The calculated value is -50 based on the numbers.'

In [23]:
type(final_number)

str

##### Assignment 3: Extract, Convert, and Sum from a Data String

In [24]:
# pull out the numerical parts, convert them, and do a calculation.

# You are given the string: data_string = "ID:XYZ-789 | ValueA: 25.5 | ValueB: 10 | Count: 3"
# Use the .split() method to split the data_string into parts based on the | delimiter.
# Access the parts containing "ValueA", "ValueB", and "Count" using indexing on the list returned by split().
# For each of these three parts, use string methods like .split() again (e.g., splitting by : or the space after the colon) or .replace() to isolate the numerical string ("25.5", "10", "3").
# Convert the isolated "ValueA" string to a float.
# Convert the isolated "ValueB" string to an int.
# Convert the isolated "Count" string to an int.
# Calculate the total: total = (ValueA_float + ValueB_int) * Count_int.
# Use round() to round the total to 1 decimal place.
# Convert the rounded total back into a string.
# Create a final output string using concatenation, like: "Based on the data, the total calculated value is: " + total_string.
# Print the final output string.

In [25]:
data_string = 'ID:XYZ-789 | ValueA: 25.5 | ValueB: 10 | Count: 3'

In [26]:
split = data_string.split(' | ')
split

['ID:XYZ-789', 'ValueA: 25.5', 'ValueB: 10', 'Count: 3']

In [27]:
valueA = split[1]
valueB = split[2]
count = split[3]

In [28]:
valueA

'ValueA: 25.5'

In [30]:
A = (valueA)
new_valueA = A.split(': ')
print(new_valueA)

['ValueA', '25.5']

In [31]:
new_valueA[1]

'25.5'

In [32]:
B = (valueB)
new_valueB = B.split(': ')
print(new_valueB)

['ValueB', '10']

In [33]:
new_valueB[1]

'10'

In [34]:
C = (count)
new_count = C.split(': ')
print(new_count)

['Count', '3']

In [35]:
new_count[1]

'3'

In [36]:
type(new_valueA)

list

In [37]:
convertA = float(new_valueA[1])
convertA

25.5

In [38]:
type(convertA)

float

In [39]:
convertB = int(new_valueB[1])
convertB

10

In [40]:
convertC = int(new_count[1])
convertC

3

In [41]:
total = (convertA + convertB) * convertC
print(total)

106.5

In [42]:
round(total, 1)

106.5

In [43]:
new_total = str(total)
type(new_total)

str

In [44]:
Text = "Based on the data, the total calculated value is: "

In [45]:
print(Text + new_total)

Based on the data, the total calculated value is: 106.5

##### Assignment 4: Chain String Transformations

In [46]:
# Take a poorly formatted string and apply a series of string methods to clean and transform it into a standard format.

# You are given the string: messy_string = " pYtHoN ProGrAmMiNg is AWESOME "
# Remove leading and trailing whitespace using .strip().
# Convert the entire string to lowercase using .lower().
# Replace the word "programming" with "coding" using .replace().
# Split the resulting string into individual words using .split() (this will handle multiple spaces between words).
# Join the words back together into a single string, using a single space " " as the separator with .join().
# Use .capitalize() on the final joined string to capitalize only the first letter.
# Print the string at each significant step (after strip, after lower, after replace, after split/join, after capitalize) to observe the changes.

In [47]:
messy_string = " pYtHoN ProGrAmMiNg is AWESOME "

In [48]:
messy_string.strip()

'pYtHoN ProGrAmMiNg is AWESOME'

In [49]:
messy_string = messy_string.lower().strip()

In [50]:
messy_string.replace('programing', 'coding')

'python programming is awesome'

In [51]:
messy_string.split()

['python', 'programming', 'is', 'awesome']

In [52]:
messy_string.join('  ')

' python programming is awesome '

In [53]:
messy_string.capitalize()

'Python programming is awesome'

##### Assignment 5: Analyze and Manipulate a String Representation of a Number

In [54]:
# Work with a string that looks like a number and use both string and number operations after conversion.

# You are given the string: number_str_value = "-55.789"
# Print the original string.
# Convert number_str_value to a float.
# Calculate the absolute value of the float using abs(). Print the result and its type.
# Round the absolute value to 1 decimal place using round(). Print the result and its type.
# Use the .replace() method to replace the minus sign - with an empty string "" in the original number_str_value. Print the result.
# Check if the original number_str_value contains the character . using the approach number_str_value.replace('.', '') != number_str_value. 
# Print the boolean result of this check. (This method uses replace and string comparison, which aligns with your learned concepts).
# Use isdigit() on the original number_str_value. Print the result and explain why it is True or False.

In [55]:
number_str_value = "-55.789"

In [56]:
number = -55.789
print(number_str_value)

-55.789

In [57]:
float_num =float(number_str_value)
float_num

-55.789

In [58]:
abs(float_num)

55.789

In [59]:
type(float_num)

float

In [60]:
round(float_num, 1)

-55.8

In [61]:
number_str_value.replace('.', '')

'-55789'

In [62]:
 number_str_value.isdigit() # it return false because is a str not int or float

False

In [63]:
type(number_str_value)

str