##### Practice Exercise 1: Simple Type Conversion (Casting)

In [4]:
# Create an integer variable num1 and assign it the value 5.
# Create a string variable num2_str and assign it the string value "12".
# Convert the string num2_str into an integer. Store the result in a variable called num2_int.
# Calculate the sum of num1 and num2_int. Store the result in a variable called total_sum.
# Convert the total_sum (which is an integer) into a string. Store the result in a variable called total_sum_str.
# Print the values and types of num1, num2_str, num2_int, total_sum, and total_sum_str.

In [5]:
num1 = 5
num2_str = '12'
num2_int = int(num2_str)

In [6]:
num2_int

12

In [7]:
total_sum = num1 + num2_int

In [8]:
total_sum

17

In [9]:
total_sum_str = str(total_sum)
total_sum_str

'17'

In [10]:
type(num1)

int

In [11]:
type(num2_str)

str

In [12]:
type(num2_int)

int

In [13]:
type(total_sum)

int

In [14]:
type(total_sum_str)

str

##### Assignment 2: Calculate and Format a Complex Result

In [15]:
# perform a calculation involving multiple steps and then present the final result in a specific string format.

# Start with three numbers: num_a = 100, num_b = 15, num_c = 4.
# Calculate step1 = num_a // num_c.
# Calculate step2 = num_b % num_c.
# Calculate step3 = step1 * step2.
# Calculate step4 = pow(num_b, 2).
# Calculate the final result: final_number = step3 - step4 + num_a.
# Convert final_number into a string using str().
# Create a template string: "The calculated value is ###RESULT### based on the numbers.".
# Use the .replace() string method to substitute ###RESULT### in the template string with your calculated final_number (as a string).
# Print the final formatted string.

In [16]:
num_a = 100 
num_b = 15 
num_c = 4

In [17]:
step1 = num_a // num_c # 100 divide by 4 without decimal
step1

25

In [18]:
step2 = num_b % num_c # picking only the remainder of 15 divided by 4
step2

3

In [19]:
step3 = step1 * step2 # 25 multiply by 3
step3

75

In [20]:
step4 = pow(num_b, 2) # 15 multiply by 15
step4

225

In [21]:
pow(15, 2)

225

In [22]:
final_number = step3 - step4 + num_a # 75-225+100
final_number

-50

In [23]:
final_number = str(final_number) # using str()
final_number

'-50'

In [24]:
template_string = "The calculated value is ###RESULT### based on the numbers."

In [25]:
template_string.replace('###RESULT###', final_number)

'The calculated value is -50 based on the numbers.'

In [26]:
type(final_number)

str

##### Assignment 3: Extract, Convert, and Sum from a Data String

In [27]:
# pull out the numerical parts, convert them, and do a calculation.

# You are given the string: data_string = "ID:XYZ-789 | ValueA: 25.5 | ValueB: 10 | Count: 3"
# Use the .split() method to split the data_string into parts based on the | delimiter.
# Access the parts containing "ValueA", "ValueB", and "Count" using indexing on the list returned by split().
# For each of these three parts, use string methods like .split() again (e.g., splitting by : or the space after the colon) or .replace() to isolate the numerical string ("25.5", "10", "3").
# Convert the isolated "ValueA" string to a float.
# Convert the isolated "ValueB" string to an int.
# Convert the isolated "Count" string to an int.
# Calculate the total: total = (ValueA_float + ValueB_int) * Count_int.
# Use round() to round the total to 1 decimal place.
# Convert the rounded total back into a string.
# Create a final output string using concatenation, like: "Based on the data, the total calculated value is: " + total_string.
# Print the final output string.

In [105]:
data_string = 'ID:XYZ-789 | ValueA: 25.5 | ValueB: 10 | Count: 3'

In [106]:
split = data_string.split(' | ')
split

['ID:XYZ-789', 'ValueA: 25.5', 'ValueB: 10', 'Count: 3']

In [107]:
valueA = split[1]
valueB = split[2]
count = split[3]

In [108]:
valueA

'ValueA: 25.5'

In [127]:
A = (valueA)
new_valueA = A.split(': ')
print(new_value)

['ValueA', '25.5']

In [128]:
new_valueA[1]

'25.5'

In [130]:
B = (valueB)
new_valueB = B.split(': ')
print(new_valueB)

['ValueB', '10']

In [132]:
new_valueB[1]

'10'

In [133]:
C = (count)
new_count = C.split(': ')
print(new_count)

['Count', '3']

In [134]:
new_count[1]

'3'

In [137]:
type(new_valueA)

list

In [146]:
convertA = float(new_valueA[1])
convertA

25.5

In [147]:
type(convertA)

float

In [149]:
convertB = int(new_valueB[1])
convertB

10

In [150]:
convertC = int(new_count[1])
convertC

3

In [153]:
total = (convertA + convertB) * convertC
print(total)

106.5

In [154]:
round(total, 1)

106.5

In [155]:
new_total = str(total)
type(new_total)

str

In [156]:
Text = "Based on the data, the total calculated value is: "

In [158]:
print(Text + new_total)

Based on the data, the total calculated value is: 106.5

##### Assignment 4: Chain String Transformations

In [124]:
# Take a poorly formatted string and apply a series of string methods to clean and transform it into a standard format.

# You are given the string: messy_string = " pYtHoN ProGrAmMiNg is AWESOME "
# Remove leading and trailing whitespace using .strip().
# Convert the entire string to lowercase using .lower().
# Replace the word "programming" with "coding" using .replace().
# Split the resulting string into individual words using .split() (this will handle multiple spaces between words).
# Join the words back together into a single string, using a single space " " as the separator with .join().
# Use .capitalize() on the final joined string to capitalize only the first letter.
# Print the string at each significant step (after strip, after lower, after replace, after split/join, after capitalize) to observe the changes.

In [166]:
messy_string = " pYtHoN ProGrAmMiNg is AWESOME "

In [167]:
messy_string.strip()

'pYtHoN ProGrAmMiNg is AWESOME'

In [168]:
messy_string = messy_string.lower().strip()

In [169]:
messy_string.replace('programing', 'coding')

'python programming is awesome'

In [170]:
messy_string.split()

['python', 'programming', 'is', 'awesome']

In [171]:
messy_string.join('  ')

' python programming is awesome '

In [173]:
messy_string.capitalize()

'Python programming is awesome'

##### Assignment 5: Analyze and Manipulate a String Representation of a Number

In [174]:
# Work with a string that looks like a number and use both string and number operations after conversion.

# You are given the string: number_str_value = "-55.789"
# Print the original string.
# Convert number_str_value to a float.
# Calculate the absolute value of the float using abs(). Print the result and its type.
# Round the absolute value to 1 decimal place using round(). Print the result and its type.
# Use the .replace() method to replace the minus sign - with an empty string "" in the original number_str_value. Print the result.
# Check if the original number_str_value contains the character . using the approach number_str_value.replace('.', '') != number_str_value. 
# Print the boolean result of this check. (This method uses replace and string comparison, which aligns with your learned concepts).
# Use isdigit() on the original number_str_value. Print the result and explain why it is True or False.

In [180]:
number_str_value = "-55.789"

In [181]:
number = -55.789
print(number_str_value)

-55.789

In [182]:
float_num =float(number_str_value)
float_num

-55.789

In [183]:
abs(float_num)

55.789

In [186]:
type(float_num)

float

In [189]:
round(float_num, 1)

-55.8

In [192]:
number_str_value.replace('.', '')

'-55789'

In [196]:
 number_str_value.isdigit() # it return false because is a str not int or float

False

In [197]:
type(number_str_value)

str

##### Process Product Information String

In [1]:
# You are given the string: product_data = "Name: Laptop; Price: 1200.50; Stock: 15; Status: Available"
# Use the .split() method to split the product_data string into parts based on the ; delimiter.
# Access the parts containing "Price" and "Stock" using indexing on the list returned by split().
# For the "Price" part (e.g., "Price: 1200.50") and the "Stock" part (e.g., "Stock: 15"), 
# use string methods like .split() to isolate the numerical string value ("1200.50" and "15").
# Convert the isolated price string ("1200.50") into a float.
# Convert the isolated stock string ("15") into an int.
# Calculate the total estimated value of the stock for this product: total_stock_value = price_float * stock_int.
# Use the round() function to round the total_stock_value to 2 decimal places.
# Print the original product_data string.
# Print the calculated total_stock_value, clearly labeled (e.g., f"Estimated total stock value: ${rounded_total_stock_value}").

In [55]:
product_data = "Name: Laptop; Price: 1200.50; Stock: 15; Status: Available"
Split = product_data.split('; ')
print(Split)

['Name: Laptop', 'Price: 1200.50', 'Stock: 15', 'Status: Available']

In [56]:
splitA = Split[1]
print(splitA)

Price: 1200.50

In [57]:
splitB = Split[2]
print(splitB)

Stock: 15

In [58]:
A = splitA.split()
print(A)

['Price:', '1200.50']

In [59]:
B = splitB.split()
print(A)

['Price:', '1200.50']

In [60]:
Float = A[1]
print(Float)

1200.50

In [61]:
type(Float)

str

In [62]:
converting_to_float = float(Float)
print(converting_to_float)

1200.5

In [63]:
type(converting_to_float)

float

In [64]:
Int = B[1]
print(Int)

15

In [65]:
type(Int)

str

In [66]:
converting_to_int = int(Int)
print(converting_to_int)

15

In [67]:
type(converting_to_int)

int

In [68]:
total_stock_value = converting_to_float * converting_to_int
print(total_stock_value)

18007.5

In [69]:
rounded_total_stock_value = round(total_stock_value, 2)
print(rounded_total_stock_value)

18007.5

In [70]:
# Print the calculated total_stock_value, clearly labeled (e.g., f"Estimated total stock value: ${rounded_total_stock_value}").

print(f'Estimated total stock value: ${rounded_total_stock_value}')

Estimated total stock value: $18007.5

##### Extract, Convert, and Sum from a Data String

In [71]:
# pull out the numerical parts, convert them, and do a calculation.

# You are given the string: data_string = "ID:XYZ-789 | ValueA: 25.5 | ValueB: 10 | Count: 3"
# Use the .split() method to split the data_string into parts based on the | delimiter.
# Access the parts containing "ValueA", "ValueB", and "Count" using indexing on the list returned by split().
# For each of these three parts, use string methods like .split() again (e.g., splitting by : or the space after the colon) or .replace() to isolate the numerical string ("25.5", "10", "3").
# Convert the isolated "ValueA" string to a float.
# Convert the isolated "ValueB" string to an int.
# Convert the isolated "Count" string to an int.
# Calculate the total: total = (ValueA_float + ValueB_int) * Count_int.
# Use round() to round the total to 1 decimal place.
# Convert the rounded total back into a string.
# Create a final output string using concatenation, like: "Based on the data, the total calculated value is: " + total_string.
# Print the final output string.

In [72]:
data_string = 'ID:XYZ-789 | ValueA: 25.5 | ValueB: 10 | Count: 3'
data_string

'ID:XYZ-789 | ValueA: 25.5 | ValueB: 10 | Count: 3'

In [76]:
split = data_string.split('| ')
split

['ID:XYZ-789 ', 'ValueA: 25.5 ', 'ValueB: 10 ', 'Count: 3']

In [83]:
A = split[1]
A

'ValueA: 25.5 '

In [84]:
B = split[2]
B

'ValueB: 10 '

In [85]:
C = split[3]
C

'Count: 3'

In [96]:
new_splitA = A.split(': ')
new_split

['ValueA', '25.5 ']

In [97]:
new_splitA[1]

'25.5 '

In [98]:
new_splitB = B.split(': ')
new_splitB[1]

'10 '

In [99]:
new_splitC = C.split(': ')
new_splitC[1]

'3'

In [101]:
ValueA = new_splitA[1]
valueB = new_splitB[1]
valueC = new_splitC[1]

In [106]:
conversionA = float(ValueA)
conversionB = int(valueB)
ConversionC = int(valueC)

In [110]:
ConversionC

3

In [113]:
Total = (conversionA + conversionB)* ConversionC 
Total

106.5

In [114]:
type(Total)

float

In [115]:
Final_conversion = str(Total)
Final_conversion

'106.5'

In [117]:
print(f'Based on the data, the total calculated value is: {Final_conversion}')

Based on the data, the total calculated value is: 106.5