##### Assignment 1: Mastering List Modifications

In [1]:
# list of programming languages, and you need to perform a series of specific modifications 

# Start with the list: languages = ['Python', 'Java', 'C++', 'JavaScript', 'Ruby', 'Go']
# Modify: Change 'C++' to 'C#' using indexing.
# Append: Add 'Swift' to the end of the list.
# Insert: Insert 'TypeScript' at index 3.
# Remove by Value: Remove 'Ruby' from the list using .remove().
# Remove by Index: Remove the item at index 1 using .pop(). Store the removed item in a variable and print it.
# Slice and Delete: Delete the last two elements of the list using slicing and del.
# Print the list after each modification step (steps 2, 3, 4, 5, 6, and 7) to see the changes.

In [2]:
languages = ['Python', 'Java', 'C++', 'JavaScript', 'Ruby', 'Go']

In [3]:
languages[2] = 'C#'
print(languages)

['Python', 'Java', 'C#', 'JavaScript', 'Ruby', 'Go']

In [4]:
languages.append('swift')
print(languages)

['Python', 'Java', 'C#', 'JavaScript', 'Ruby', 'Go', 'swift']

In [5]:
languages.insert(3, 'TypeScipt')
print(languages)

['Python', 'Java', 'C#', 'TypeScipt', 'JavaScript', 'Ruby', 'Go', 'swift']

In [6]:
languages.remove('Ruby')
print(languages)

['Python', 'Java', 'C#', 'TypeScipt', 'JavaScript', 'Go', 'swift']

In [7]:
languages.pop(1)
print(languages)
language2 = ['Java']
print(language2)

['Python', 'C#', 'TypeScipt', 'JavaScript', 'Go', 'swift']
['Java']

In [8]:
del languages [4:]
print(languages)

['Python', 'C#', 'TypeScipt', 'JavaScript']

##### Assignment 2: Combining and Extending Lists with Slices

In [9]:
# using slicing and list concatenation/extension to build new lists from existing ones.

# Create two lists: list1 = list(range(10)) (numbers 0 to 9) and list2 = [100, 200, 300, 400, 500].
# Concatenate Slices: Create a new_list by concatenating a slice of list1 (from index 2 up to, but not including, index 5) 
# and a slice of list2 (from index 1 up to, but not including, index 4) using the + operator. Print new_list.
# Extend with Reversed Slice: Take a slice of list1 from index 6 onwards. Reverse this slice using [::-1]. 
# Use the .extend() method on new_list to add the elements of this reversed slice to the end of new_list.
# Print the final new_list.

In [10]:
list1 = list(range(10))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
list2 = [100, 200, 300, 400, 500]
list2

[100, 200, 300, 400, 500]

In [12]:
new_list = list1[2:5] + list2[1:4]
print(new_list)

[2, 3, 4, 200, 300, 400]

In [13]:
reverse = list1[6:]
reverse_list = reverse[::-1]
print(reverse_list)

[9, 8, 7, 6]

In [14]:
new_list.extend(reverse_list)
new_list

[2, 3, 4, 200, 300, 400, 9, 8, 7, 6]

##### Assignment 3: Advanced List Comprehension

In [15]:
# Use list comprehension to create a new list by transforming and filtering numbers from a range.

# Generate a sequence of numbers from 50 to 100 (inclusive) using range().
# Use list comprehension to create a new list called transformed_numbers.
# For each number in the range (50 to 100):
# If the number is divisible by 5 (use the modulus operator %), include the number squared (number ** 2) in the transformed_numbers list.
# If the number is not divisible by 5, do not include it in the list.
# Print the transformed_numbers list.

In [16]:
number  = list(range(50, 101))
number

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [17]:
modulus_operator = [number for number in range(50, 101) if number %5 ==0]
modulus_operator

[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

In [18]:
number_squared = [number **2 for number in modulus_operator]
number_squared

[2500, 3025, 3600, 4225, 4900, 5625, 6400, 7225, 8100, 9025, 10000]

In [19]:
transformed_numbers = number_squared
transformed_numbers

[2500, 3025, 3600, 4225, 4900, 5625, 6400, 7225, 8100, 9025, 10000]

##### Assignment 4: Slicing and Reversing Parts of a List

In [20]:
# Combine slicing, negative indexing, and reversing on parts of a list.

# Create a list: data = (numbers 0 to 19).
# Print the original data list.
# Extract Slice 1: Get a slice containing elements from index 5 up to index 10 (inclusive of 5, exclusive of 10).
# Extract Slice 2: Get a slice containing the last 7 elements using negative indexing.
# Combine Slices: Concatenate the results of Slice 1 and Slice 2 into a new list called combined_slice_list. Print combined_slice_list.
# Reverse a Portion: Reverse only the elements in combined_slice_list starting from index 4 up to the end of the list. You can do this by slicing the part you want to reverse (combined_slice_list[4:]), reversing that slice using [::-1], and then assigning the reversed slice back to the same position in the original list: combined_slice_list[4:] = combined_slice_list[4:][::-1].
# Print the combined_slice_list after the partial reversal.

In [21]:
data_list = list(range(0, 20))
data_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [22]:
Extract_Slice_1 = data_list[5:10]
Extract_Slice_1

[5, 6, 7, 8, 9]

In [23]:
Extract_Slice_2 = data_list[-7:]
Extract_Slice_2

[13, 14, 15, 16, 17, 18, 19]

In [24]:
combined_slice_list = Extract_Slice_1 + Extract_Slice_2
combined_slice_list

[5, 6, 7, 8, 9, 13, 14, 15, 16, 17, 18, 19]

In [25]:
convert = combined_slice_list[4:]
convert

[9, 13, 14, 15, 16, 17, 18, 19]

In [26]:
reversing = convert[::-1]
combined_slice_list = reversing
combined_slice_list

[19, 18, 17, 16, 15, 14, 13, 9]

In [27]:
reverse_list = combined_slice_list
reverse_list

[19, 18, 17, 16, 15, 14, 13, 9]

In [28]:
student_data_by_category = {
    'name': ['beckt', 'musa', 'lawal', 'amina'],
    'Age': [25, 30, 23, 28],
    'GPA': [4.2, 3.9, 4.1, 3.5]
}

# Step 1: Determine the number of students
num_students = len(student_data_by_category['name'])

# Step 2: Create an empty list to store student dictionaries
students_list_of_dicts = []

# Step 3: Iterate through each student's index
for i in range(num_students):
    # Step 4: Create a dictionary for one student
    single_student = {
        'name': student_data_by_category['name'][i],
        'age': student_data_by_category['Age'][i],
        'gpa': student_data_by_category['GPA'][i]
    }
    # Step 5: Append the dictionary to the list
    students_list_of_dicts.append(single_student)

# Step 6: Print the final list of student dictionaries
print(students_list_of_dicts)

[{'name': 'beckt', 'age': 25, 'gpa': 4.2}, {'name': 'musa', 'age': 30, 'gpa': 3.9}, {'name': 'lawal', 'age': 23, 'gpa': 4.1}, {'name': 'amina', 'age': 28, 'gpa': 3.5}]

In [29]:
import pandas as pd

In [31]:
students_list_of_dicts = pd.DataFrame(students_list_of_dicts)
students_list_of_dicts

    name  age  gpa
0  beckt   25  4.2
1   musa   30  3.9
2  lawal   23  4.1
3  amina   28  3.5