##### Assignment 1: Demonstrating Tuple Immutability

In [1]:
# Understand and show the unchangeable nature of tuples.

# Create a tuple called my_tuple = ('apple', 'banana', 'cherry').
# includes 'blueberry' and the other elements. You can do this by concatenating slices of the original tuple with the new element. 
# For example: new_tuple = my_tuple[0:1] + ('blueberry',) + my_tuple[2:]. Remember to include the comma after a single element in parentheses ('blueberry',) to make it a tuple.
# Print the new_tuple.

In [2]:
my_tuple = ('apple', 'banana', 'cherry')

In [4]:
my_tuple[1] = 'blueberry'  # this raise an error because tuple can't be changed directly

TypeError: 'tuple' object does not support item assignment

In [5]:
# (Workaround): Although we can't change the original tuple but we can concatenate
new_tuple = ('blueberry',)
Workaround = my_tuple[0:1] + new_tuple[0:] + my_tuple[2:]
Workaround

('apple', 'blueberry', 'cherry')

##### Assignment 2: Processing Records and Selective Unpacking with List Comprehension

In [6]:
#  **Create a list of tuples, where each tuple represents a book with its title, author, and publication year:
# Use List Comprehension to create a new list called modern_books.
# Inside the list comprehension:
# Unpack each tuple from the books list into three separate variables (title, author, year).
# Include a condition in the list comprehension to select only books published in 1950 or later (i.e., if year >= 1950).
# For the books that meet the condition, create a new tuple that packs just the title and the year.
# Print the original books list.
# Print the modern_books list created by the list comprehension.

In [7]:
books = [
    ("The Hitchhiker's Guide to the Galaxy", "Douglas Adams", 1979),
    ("Pride and Prejudice", "Jane Austen", 1813),
    ("1984", "George Orwell", 1949),
    ("Brave New World", "Aldous Huxley", 1932),
    ("The Lord of the Rings", "J.R.R. Tolkien", 1954),
    ("To Kill a Mockingbird", "Harper Lee", 1960)
]
books

[("The Hitchhiker's Guide to the Galaxy", 'Douglas Adams', 1979),
 ('Pride and Prejudice', 'Jane Austen', 1813),
 ('1984', 'George Orwell', 1949),
 ('Brave New World', 'Aldous Huxley', 1932),
 ('The Lord of the Rings', 'J.R.R. Tolkien', 1954),
 ('To Kill a Mockingbird', 'Harper Lee', 1960)]

In [8]:
modern_books = [(title, author, year) for title, author, year  in books if year >= 1950]
modern_books

[("The Hitchhiker's Guide to the Galaxy", 'Douglas Adams', 1979),
 ('The Lord of the Rings', 'J.R.R. Tolkien', 1954),
 ('To Kill a Mockingbird', 'Harper Lee', 1960)]

In [9]:
modern_books = [(title, year) for title, author, year  in books if year >= 1950]
modern_books

[("The Hitchhiker's Guide to the Galaxy", 1979),
 ('The Lord of the Rings', 1954),
 ('To Kill a Mockingbird', 1960)]

In [10]:
# Create a list of numbers:
# Use the max() function to find the largest number in data_points.
# Use the min() function to find the smallest number in data_points.
# Use the len() function to find the total count of elements in data_points.
# Use slicing to extract a middle portion of the list (e.g., elements from index 3 up to index 7). 
# Store this slice in a variable (this variable will itself be a list).
# Create a single tuple called list_summary_data by packing the four results from steps 2, 3, 4, and 5 into it (in that order). 
# The tuple will contain two integers, one integer length, and one list.
# Unpack the list_summary_data tuple into four distinct variables with meaningful names, for example: 
# highest_value, lowest_value, total_count, middle_segment.
# Print the values of the four unpacked variables to verify you correctly extracted each piece of data.

In [11]:
data_points = [45, 88, 12, 90, 5, 73, 29, 61, 95, 38]
data_points

[45, 88, 12, 90, 5, 73, 29, 61, 95, 38]

In [12]:
list1 = max(data_points)
list1

95

In [13]:
list2 = min(data_points)
list2

5

In [14]:
list3 = len(data_points)
list3

10

In [15]:
list4 = data_points[3:8]
list4

[90, 5, 73, 29, 61]

In [16]:
list5 = data_points[3:8]
list5

[90, 5, 73, 29, 61]

In [17]:
list_summary_data =( 
    list2, 
    list3, 
    list4, 
    list5)
list_summary_data

(5, 10, [90, 5, 73, 29, 61], [90, 5, 73, 29, 61])

In [18]:
highest_value, lowest_value, total_count, middle_segment = list_summary_data

In [19]:
highest_value

5

In [20]:
lowest_value

10

In [21]:
total_count

[90, 5, 73, 29, 61]

In [22]:
middle_segment

[90, 5, 73, 29, 61]

## Set Practice

##### Assignment 1: Inventory Analysis - Unique Items and Counts

In [23]:
# you are given a list representing items in multiple shipments:
# Convert the shipment_items list into a Set called unique_items to easily get rid of duplicates.
# Print the unique_items set.
# Create an empty Dictionary called item_counts.
# Iterate through the unique_items set (you can convert the set back to a list if needed for ordered iteration, or just iterate directly).
# For each unique item:
# Count how many times this unique item appears in the original shipment_items list.
# Add the unique item as a key to the item_counts dictionary, and its count as the value.
# Print the item_counts dictionary.

In [24]:
shipment_items = ['widget A', 'widget B', 'widget A', 'widget C', 'widget B', 'widget A', 'widget D', 'widget C', 'widget A']
shipment_items

['widget A',
 'widget B',
 'widget A',
 'widget C',
 'widget B',
 'widget A',
 'widget D',
 'widget C',
 'widget A']

In [25]:
unique_set = set(shipment_items)
unique_set

{'widget A', 'widget B', 'widget C', 'widget D'}

In [26]:
item_counts = {}

In [27]:
for check in unique_set:
    print(check)

widget C
widget A
widget D
widget B

In [28]:
shipment_items.count('widget A')

4

In [29]:
shipment_items.count('widget B')

2

In [30]:
shipment_items.count('widget C')

2

In [31]:
shipment_items.count('widget D')

1

In [32]:
value = shipment_items.count('widget A'),  shipment_items.count('widget B'), shipment_items.count('widget C'), shipment_items.count('widget D')
value

(4, 2, 2, 1)

In [33]:
item_counts = dict(zip(unique_set, value))
item_counts

{'widget C': 4, 'widget A': 2, 'widget D': 2, 'widget B': 1}

In [34]:
item_counts = {
    'unique_set': list(item_counts.keys()),  # List of items (keys)
    'value': list(item_counts.values())  # List of counts (values)
}


print(item_counts)

{'unique_set': ['widget C', 'widget A', 'widget D', 'widget B'], 'value': [4, 2, 2, 1]}

In [35]:
import pandas as pd
df=pd.DataFrame(item_counts)
df

  unique_set  value
0   widget C      4
1   widget A      2
2   widget D      2
3   widget B      1

##### Assignment 3: Restructuring Student Data

In [36]:
# You are given the dictionary with lists

# Assume the lists for 'name', 'Age', and 'GPA' are all the same length and correspond to each other by index
#  (e.g., 'beckt' is 25 years old with a 4.2 GPA).
# Determine the number of students (which is the length of any of the lists, e.g.,
# Create an empty List called students_list_of_dicts.
# Iterate using a range() from 0 up to (but not including) the number of students. This index will represent the position of each student's data across the lists.
# Inside the iteration, for each index:
# Create a new Dictionary representing a single student.
# Access the student's name from student_data_by_category['name'] using the current index, and add it to the new student dictionary with the key 'name'.
# Access the student's age from student_data_by_category['Age'] using the current index, and add it with the key 'age'.
# Access the student's GPA from student_data_by_category['GPA'] using the current index, and add it with the key 'gpa'.
# Append this new student dictionary to the students_list_of_dicts.
# Print the final students_list_of_dicts.

In [37]:
student_data_by_category = {
    'name': ['beckt', 'musa', 'lawal', 'amina'],
    'Age': [25, 30, 23, 28],
    'GPA': [4.2, 3.9, 4.1, 3.5]
}
student_data_by_category

{'name': ['beckt', 'musa', 'lawal', 'amina'],
 'Age': [25, 30, 23, 28],
 'GPA': [4.2, 3.9, 4.1, 3.5]}

In [38]:
len(student_data_by_category['name'])

4

In [39]:
students_list_of_dicts = []

In [40]:
for i in range(len(student_data_by_category['name'])):
    print(i)

0
1
2
3

In [41]:
for i in range(len(student_data_by_category['name'])):
    single_student = {
        "name" : student_data_by_category['name'][i],
        "Age"  : student_data_by_category['Age'][i],
        "GPA"  : student_data_by_category['GPA'][i]
    }
    students_list_of_dicts.append(single_student)
print(single_student)

{'name': 'amina', 'Age': 28, 'GPA': 3.5}

In [42]:
students_list_of_dicts

[{'name': 'beckt', 'Age': 25, 'GPA': 4.2},
 {'name': 'musa', 'Age': 30, 'GPA': 3.9},
 {'name': 'lawal', 'Age': 23, 'GPA': 4.1},
 {'name': 'amina', 'Age': 28, 'GPA': 3.5}]