## Python Basic

In [91]:
##### Examples of variable
name = 'Alice'  # String variable bcause it contain Alphabet 
age = 30        # Integer variable because it contain Digit
height = 1.65   # Float variable because it contain Decimal
is_student = True  # Boolean data type print True or false statement 

print(name)
print(age)
print(height)
print(is_student)

Alice
30
1.65
True

In [92]:
##### Name convention
my_name = 'Damilola' # snake_case because the pharse are separated by underscore (_) 

print(my_name)

Damilola

In [93]:
##### Multiple assignment 
kay = tola = esther =100 # Assigning same value
print(kay)
print(tola)
print(esther)

100
100
100

In [94]:
##### Print function()
print('my name is damilola') # Text print because it contain alphabet
print(100) # Number print because it contains digit

my name is damilola
100

In [95]:
##### Using a sep parameter 
print(name, age, sep='-') # using hyphen (-) to separate name and age
print(name, age, end= '\n') # creating a new line with \n

Alice-30
Alice 30

In [96]:
#####  formatting option 1
name = 'Damilola'
sentence = "I'm hungry"
print('In class today {} said {}'.format(name, sentence))

In class today Damilola said I'm hungry

In [97]:
#####  formatting option 2

name = 'Damilola'
sentence = "I'm hungry"
print(f'In class today {name} said {sentence}')

In class today Damilola said I'm hungry

In [98]:
##### Escape sequence 

print('Meat \t Price') # Using the \t to create a table
print('Beef \t #2,000') 
print('Chicken\t #5,000')

Meat 	 Price
Beef 	 #2,000
Chicken	 #5,000

In [99]:
print('I\'m a boy') # quote inside string

I'm a boy

In [100]:
print('c:\\hp\\users\\document') # backlash \ used for escaping special characters

c:\hp\users\document

In [101]:
print('\U0001F604') # emoji unicode

üòÑ

In [102]:
user_input = input ('enter your old password')
print(f'old password {user_input}') # user input

enter your old password 400

old password 400

# üìù My Practice

In [13]:
## Assignment 1: Personal Info Form

#  print a formatted sentence using f-strings, like:

# "Hello, my name is Damilola. I am 25 years old. I love Amala. Student status: False"

name = 'Damilola'
age = 25
favorite_food = 'Amala'
student_status = 'false'

print(f'Hello, my name is {name}. I am {age} years old. I love {favorite_food}. Student status: {student_status}')

Hello, my name is Damilola. I am 25 years old. I love Amala. Student status: false

In [14]:
# Assignment 2: Grocery Receipt Generator


# Print a receipt using \t and escape sequences:

print('Items \t Price')
print('rice \t #65,000')
print('beans \t #80,000')
print('semo \t #10,000')

Items 	 Price
rice 	 #65,000
beans 	 #80,000
semo 	 #10,000

In [15]:
# Assignment 3: Password Change Simulation

# Ask the user to input their current password.

# Then ask them to enter a new password.

# Print both old and new passwords using a formatted print statement.

current_password = input('enter your new password')
new_password = input(' enter your new password')

print(f'{current_password} - {new_password}')

enter your new password 400
 enter your new password 500

400 - 500

In [16]:
# Asment 4: Variable Swapping 

# Create two variables: a = "car", b = "bus"
# Swap them using one line of code.
# Print the values before and after the swap.

a = 'car'
b = 'bus'
print(a, b)

car bus

In [17]:
temp = a 
a = b
b = temp

print(a, b)

bus car

In [18]:
# Assignment 5: Class Quote

# Store your name and a favorite quote in variables.
# Print a sentence like:
# "In class today Damilola said 'Never give up!'"
# Use both formatting methods:

#.format()
# f-string

my_name = 'Damilola'
my_favorite_quote = " Never give up!"

print(f"In class today {my_name} said {my_favorite_quote}") 
print("In class today {} said {}".format(my_name, my_favorite_quote))

In class today Damilola said  Never give up!
In class today Damilola said  Never give up!

## Data Type

In [19]:
#### Data Type ####
# a. Numbers
# b. Sring
# c. Lists 
# d. Dictionaries 
# e. Tuples
# f. Sets and others

In [20]:
### a. Numbers
a=10
b=7
a+b # This is int because it's a "whole number" without a decimal

17

In [21]:
X=12
Y=2.3
X+Y # This is float because it has "Decimal"

14.3

In [22]:
y=3
x=4j
x+y # this is complex complex data type because it contains real number ad imaginary number

(3+4j)

In [23]:
# operation with numbers

In [24]:
10+5 #Addition

15

In [25]:
15-2 # subtraction

13

In [26]:
10*3 # multiplication

30

In [27]:
50/2 # divison

25.0

In [28]:
20//6 # floor division having whole number without decimal

3

In [29]:
20 % 6 # modulus having only the remainder

2

In [30]:
 4**3 # exponential raising a number to a power

64

In [31]:
# Inbuilt Numeric function

In [32]:
num = -25.59867857
abs(num) # Return the absolute value of the argument. turning negative to positpositive

25.59867857

In [33]:
round(num, 2) # Round a number to a given precision in decimal digits.

-25.6

In [34]:
pow(3,4) # this is the same as exponential

81

In [35]:
max(9, 2,8,3,6,4,7,5) # return its biggest item

9

In [36]:
min(9, 2,8,3,6,4,7,5) # return its smallest item

2

In [37]:
# Coversion between numbers 

b = 12.23
int(b)  # int conversion

12

In [38]:
### string indexing ####
# each string indexing start with 0 while negative index start from -1

In [39]:
text = 'hello'
text[0] # positive indexing

'h'

In [40]:
text[-1] # negative indexing

'o'

In [41]:
## Inbuilt sring method ##
text = '    hEy GuYs    I aM    Damilola    '
text.lower() #  converted to lowercase

'    hey guys    i am    damilola    '

In [42]:
text.upper() # converted to uppercase.

'    HEY GUYS    I AM    DAMILOLA    '

In [43]:
new_text = text.upper()

In [44]:
new_text.strip()

'HEY GUYS    I AM    DAMILOLA'

In [45]:
text.capitalize()

'    hey guys    i am    damilola    '

In [46]:
text.lstrip() # left white space removed

'hEy GuYs    I aM    Damilola    '

In [47]:
text.rstrip() # right white space removed

'    hEy GuYs    I aM    Damilola'

In [48]:
clean = " " .join(new_text.split()) # to remove all white space
print(clean)

HEY GUYS I AM DAMILOLA

In [49]:
### String repeation ###

In [50]:
name = 'kay'
print(' '.join ([name] * 3))

kay kay kay

In [51]:
## replacing string ##
name = 'my name is paul'
new_text = text.replace('paul', 'Damilola')
print(new_text)

    hEy GuYs    I aM    Damilola

In [52]:
## splitintg and joining
word = text.split()
print(word)

['hEy', 'GuYs', 'I', 'aM', 'Damilola']

In [53]:
words = '-'.join(word)
print(words)

hEy-GuYs-I-aM-Damilola

In [54]:
### Checking string properties ###

text = 'hello'

text.isdigit()

False

In [55]:
num = '450'

num.isdigit() # Return True if the string is a digit string, False otherwise.

True

## List

In [56]:
### List ###

In [57]:
# List data structure is a mutable, or changeable, by having values between square brackets [ ] . 

fruits = ['apple', 'mango', 'orange', 'bananas']
fruits[0] # for extracting 1 item

'apple'

In [58]:
# Slicing is used to access parts of sequences like lists, tuples, and strings.

fruits[0:2] # for extracting more than 1 element from start to last

['apple', 'mango']

In [59]:
fruits[0:] # option 1 for extracting all element

['apple', 'mango', 'orange', 'bananas']

In [60]:
fruits[:4] # option 2 for extracting all element

['apple', 'mango', 'orange', 'bananas']

In [61]:
fruits[0:-1] # extracting items excluding the last element.

['apple', 'mango', 'orange']

In [62]:
fruits[::2] # skipping element

['apple', 'orange']

In [63]:
# reverse a list
fruits[::-1]

['bananas', 'orange', 'mango', 'apple']

In [64]:
### modifying adding and removing element ###
fruits

['apple', 'mango', 'orange', 'bananas']

In [65]:
fruits[3] = 'date'   # modifying element

In [66]:
fruits

['apple', 'mango', 'orange', 'date']

In [67]:
# 
fruits.append('bananas') # Append object to the end of the list

In [68]:
fruits

['apple', 'mango', 'orange', 'date', 'bananas']

In [69]:
fruits.insert(1,'pawpaw') # Insert object before index.
fruits

['apple', 'pawpaw', 'mango', 'orange', 'date', 'bananas']

In [70]:
fruits2 = ['Lemons', 'Limes', 'Grapes', 'Pineapple', 'Watermelon']

In [71]:
fruits + fruits2

['apple',
 'pawpaw',
 'mango',
 'orange',
 'date',
 'bananas',
 'Lemons',
 'Limes',
 'Grapes',
 'Pineapple',
 'Watermelon']

In [72]:
basket = fruits + fruits2 # concatenating with +
basket

['apple',
 'pawpaw',
 'mango',
 'orange',
 'date',
 'bananas',
 'Lemons',
 'Limes',
 'Grapes',
 'Pineapple',
 'Watermelon']

In [73]:
fruits.extend(fruits2) # add elements of an iterable (such as string, list, tuple, set, etc.) to the end of another list

In [74]:
fruits

['apple',
 'pawpaw',
 'mango',
 'orange',
 'date',
 'bananas',
 'Lemons',
 'Limes',
 'Grapes',
 'Pineapple',
 'Watermelon']

In [75]:
# Removing element

fruits.remove('Limes') # Remove first occurrence of value.

In [76]:
fruits

['apple',
 'pawpaw',
 'mango',
 'orange',
 'date',
 'bananas',
 'Lemons',
 'Grapes',
 'Pineapple',
 'Watermelon']

In [77]:
basket.pop() # (default last).

'Watermelon'

In [78]:
basket.pop(6) # Remove and return item at index

'Lemons'

In [79]:
basket

['apple',
 'pawpaw',
 'mango',
 'orange',
 'date',
 'bananas',
 'Limes',
 'Grapes',
 'Pineapple']

In [80]:
del basket[6:]
basket

['apple', 'pawpaw', 'mango', 'orange', 'date', 'bananas']

In [81]:
fruits2.clear()
fruits2

[]

In [82]:
## Tuple: is an immutable (unchangeable) collection of various data type elements. 

cements = ('dangote', 'bua', 'elephant')
cements

('dangote', 'bua', 'elephant')

In [83]:
cements[1]

'bua'

In [84]:
# List comprehension: It captures the act of defining the elements in the new list

cements = ['dangote', 'bua', 'elephant']

In [85]:
new_cements = [cement.upper() for cement in cements]
new_cements

['DANGOTE', 'BUA', 'ELEPHANT']

In [86]:
new = list(cements)
new

['dangote', 'bua', 'elephant']

In [87]:
my_list = list(range(1, 31)) # Option 1
even_numbers = [i for i in range(1, 31) if i % 2 == 0]
even_numbers

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

### Tuple/ Dictionary

In [88]:
language = "c++", "python"

In [89]:
language

('c++', 'python')

In [90]:
language[0] = 'c#'

TypeError: 'tuple' object does not support item assignment

In [ ]:
####  Way around changing the element in tuple ###

new = list(language) # changing the tuple to list to make change

In [ ]:
new[0] = 'c#'

In [ ]:
new

In [ ]:
language = tuple(new) # then back to tuple after the change

In [ ]:
language

In [ ]:
# Tuple packing: storing multiple valuse in a single tuple 
shapes = ( 'square', 'circle')

In [ ]:
a, b = (shapes) # unpacking

In [ ]:
a

In [ ]:
b

In [ ]:
## Set: set uses curly bracket {} not round bracket ()
## set rearrange in ascending order
## set don't accept duplicate of element

Brands ={'nike', 'nike', 'addidas', 'jordan', 'hermes'}
Brands

In [ ]:
Brands.remove('hermes') # .remove method
Brands

In [ ]:
Brands.discard('LV') # Unlike set.remove(), the discard() method does not raise an exception when an element is missing from the set.
Brands

In [ ]:
Brands.pop() # Remove and return an arbitrary set element.
Brands

In [ ]:
Brands.add('gucci')
Brands

In [ ]:
# Dictionary : dictionary also use culy bracket{} 
student = {
    'name' : 'Damilola',
    'age' : 25,
    'cgpa' :3.6
}

In [ ]:
student

In [ ]:
student.keys() # .keys provide the keys in dictionary

In [ ]:
student.values() # .values provide the values in dictionary

In [ ]:
student.items() # .items provide the items in dictionary

In [ ]:

students = { 
    'name':[ 'beckt','musa','lawal'],
    'Age':[25,30,23],
    'GPA':[4.2,3.9,4.1]}
students

In [ ]:
import pandas as pd
df=pd.DataFrame(students)
df

### Condition statement

In [ ]:
## Condition statement

In [ ]:
# if statements:is a condition statement used to check a condition, and execute it if the condition holds true.
age = 18 

if age >=18:
    print('you are eligible to vote')

In [ ]:
# step 2 this checks if temperature is greater than or equal to 25 ‚Äî not if it's greater than or equal to 30.

Temperature =30

if Temperature > 25:
     print("it's a sunny day!")

In [ ]:
## Else statement: used in conditional statements (if statements), and decides what to do if the condition is False

Temperature =30

if Temperature >= 31:
     print("it's a sunny day!")
else:
    print("it's a cool day!")

In [ ]:
num = 19

if num % 2==0:
    print(f'the number {num} is even')
else :
    print(f'the number {num} is odd')

In [ ]:
# user input
num = input('enter a number:')
num = int(num) # in order for this code to run we need to convert the (num) which is str to int

if num % 2==0:
    print(f'the number {num} is even')
else :
    print(f'the number {num} is odd')

In [ ]:
score = float(input("What's your score?"))

if score >=50:
    print('C')
else:
    print('D')

In [ ]:
# Elif statement:  It can be used in conditional statements to check for multiple conditions
score = float(input("What's your score?"))

if score >=60:
    print('B')
elif score >=50:
    print('C')
elif score >=40:
    print('D')
else:
    print('F')

In [ ]:
# traffic light
# .lower in this code is to format the input to lower_case even it's written in upper_case to avoid invalid input


Traffic_light =input("traffic light blink?").lower() 
print('--' *10)

if Traffic_light == ('red'):
    print('stop')
elif Traffic_light == ('green'):
    print('go')
elif Traffic_light == ('orange'):
    print('wait')
else:
    print('invalid input')

In [ ]:
# if with logical statement 
# when using 'and' it means both requirements must be met
# when using 'or' one of the requirement must be met

## full scholarship reguirement ##
# gpa > 4.49
# volunteer hours > 20 hours

## partial scholarship reguirement ##
# gpa > 4.0
# volunteer hours > 10 hours

#Scholarship Eligibility
GPA = float(input('Your GPA:'))
Hours = int(input('Volunteer hours'))

if GPA > 4.49 and Hours > 20:
    print('You are eligible for full scholarship')
elif GPA > 4.0 or Hours > 10:
    print('You are eligiblr for partial scholarship')
else:
    print ('you are no eligible')

In [ ]:
# pass statement used as a placeholder for future code. 

# When the pass statement is executed, nothing happens, but you avoid getting an error when empty code is not allowed. 

age = int(input( 'enter your age'))
citizen_status = input('are you a citizen:')

if age >=18 and citizen_status == 'yes':
    pass

In [ ]:
## ## Nested condition are if statements inside another if statement

# Voters eligibility checker

# Age > 18
# a citizen = you are eligible to vote
# non citizen = You are not eligible to vote

# Age <18 = You are not eligible to vote without Taking me to citizen_status


age = int(input( 'enter your age'))


if age >=18:
    citizen_status = input('are you a citizen:')
    
    if age >=18 and citizen_status == 'yes':
        print('you are eligible to vote')
        
    elif age >=18 and citizen_status == 'no':
        print('you must be a citizen to be eligible')
else:
    print('You are not eligible to vote')

## Python loop

In [ ]:
# Python loop
# while loop repeatedly excute a code look if the condition remain true
count = 1
while count <= 10:
    print(f' counting my apple: {count}')
    count = count + 1

In [ ]:
# example 2
num = 0
while num <=10:
    print(f' the square of {num} is {num**2}')
    num = num + 1

In [ ]:
# factorial of a num
num = 7

result = 1
while num  >= 1:
    result = result * num
    num = num -1

print(result)

In [ ]:
# right angle
line = '*'
max_length = 10
while len(line) <= max_length:
    print(line + space)
    line = line + '*'

In [ ]:
line = '*'

max_length = 10
while len(line) <= max_length:
    print(line)
    line = line + '*'
while len(line) >0:
    print(line)
    line = line [:-1]

## Loop and function

In [ ]:
# break and continue statement

In [ ]:
i = 1 
while i <=10:
    print(i)
    if i==7:
        print('stop')
        break
    i += 1

In [ ]:
# shopping system
balance = float(input(' enter your available balance: $'))

item_price = 0

while balance >= 0:
    print('\nwelcome to our online store')
    item_price = float(input(f'Your balance is ${balance}. enter item price you want to buy. $'))
    # check for valid item price
    if item_price <=0:
        print('enter a valid amount greater than $0')
        continue
    # check for enough balance
    if item_price > balance:
        print('insufficient fund')
        continue
    # confirm purchase
    confirm = input('are you sure you want to buy this item? (yes/no)').lower()
    if confirm =='yes':
        balance -= item_price
        print(' purchase successfully')
        print(f'remaining balance ${balance}')
    else:
        print('purchase canceled')
    #check balance if zero
    if balance == 0:
        print('thank you for shopping with us')
        break
    #ask shopper for continue shopping
    continue_shopping = input('Do you want to continue shopping? (yes/no)').lower()
    if continue_shopping != 'yes':
        print(f'thank you for patronizing us. your balance is ${balance}')
    if continue_shopping == 'no':
        print(f'thank you for patronizing us. your balance is ${balance}')
        break

In [ ]:
# For loop is  use to iterate

In [ ]:
day = 'monday'

for char in day:
    print(char)

In [ ]:
fruits = ['mango', 'banana']
for fruit in fruits:
    print(fruit)

In [ ]:
# multiplication table
table = 3
for i in range(1, 13):
    print(f'{table} * {i} = {table * i}')

In [ ]:
# nexted loop

for table in range(2, 7):
    for i in range(1, 13):
        print(f'{table} * {i} = {table * i}')
    print('--'*5)

In [ ]:
# iterating using range and enumerate

weekdays =['Mon', 'Tue', 'Wed', 'Thur', 'Fri']

for index, day in enumerate(weekdays):
    print(index, day)

In [ ]:
# building a functions
def great():
    print('hello')

In [ ]:
great()

In [ ]:
# assigning parameters
def add(a, b):
    print(a+b)

In [ ]:
add(2, 4)

In [ ]:
def power(num, exponent):
    return(num**exponent)

In [ ]:
power(2, 5)

In [ ]:
# assigning a default parameter
def describe_car(make, model, year=2025): 
    print(f' This is  {year} {make} {model}')

In [ ]:
describe_car('BMW', '3.series')

In [ ]:
# changing default parameter
describe_car('BMW', '3.series', year=2019)

In [ ]:
# *args handle many positional Arguments

def total(*numbers):
    print (sum(numbers))

In [ ]:
total(1,2,3,4,5,6)